		<div id="publish_area" >





<%= form_for @message,:html => { :multipart => true } do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_area :content, :rows => 10, :cols => 20 %>

    <div class="upload">

    <% if @message.pic.present?  %>
        <%= image_tag(@message.pic.url(:medium))%> <br/>
        <%= f.label :pic, "更换照片"%>


    <% else %>
        <%= f.label :pic, "添加照片" %>
    <% end %>
    <%= f.file_field :pic, :id => 'message_pic'%>
    <%= f.submit "发布"%>
    </div>



<% end %>


            		</div>