<h1>登录</h1>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :phone_no, "手机号码" %><br />
    <%= text_field_tag :phone_no, params[:phone_no] %>
  </p>
  <p>
    <%= label_tag :password, "密码" %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "登录" %></p>
<% end %>
