
<div id="login-content"  class="login-wrapper">
  <h1 class="login-logo"> <a href="/" title="爱拍网"></a> </h1>
  <div id="login_form" class="login-action clearfix">
      <%= form_tag sessions_path do %>

      <div class="login-message_box">

        <%= text_field_tag :phone_no, params[:phone_no], :class => 'login-input' %>
        <%= label_tag :phone_no, "手机号码", :class => 'login-label', :id => 'phone_no' %><br />

      </div>
      <div class="login-message_box">

        <%= password_field_tag :password, params[:password],:class => 'login-input' %>
        <%= label_tag :password, "密码", :class => 'login-label' %><br />

      </div>

        <%= submit_tag "登录", :class => 'login-submit' %>


        <% end %>
  </div>
</div>
