

<div id="signup-content"  class="signup-wrapper">
	<h1 class="signup-logo"> <a href="/" title="爱拍网"></a> </h1>
	<div class="signup-message_box">欢迎注册(或找回密码)，请输入11位手机号码，密码将被发送至您的手机！</div>
	<div id="signup_form" class="signup-action clearfix">

      <%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

        <div class="signup-item-wrapper">
        <%= f.text_field :phone_no, :class => 'signup-input', :id => 'phone_no' %>
        <%= f.label :phone_no, "手机号码", :class => 'signup-label'%>
        </div>

        <%= f.submit  "",  :class => 'signup-submit'%>

        <br/>

  <p>
    <%= f.label :password, "密码 （请输入6-20位数字作为密码）" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "确认密码" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
       <% end %>
   </div>
</div>

