<h1>注册</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :phone_no, "手机号码 (请输入11位手机号码)" %><br />
    <%= f.text_field :phone_no %>
  </p>
  <p>
    <%= f.label :password, "密码 （请输入6-20位数字作为密码）" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "确认密码" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit  "注册" %></p>
<% end %>

